[main]
#Name of action
name=SMSSender
#How to interprate the cli
inputargs=optionaldict_1 string
#Forms to send
action_1=login
action_2=send
#optionaldict
optionaldict_1=contacts

[login]
#Standard
url=https://myprovider.com/login/
method=POST
#Custom
data[User][username]=myusername
data[User][password]=password

[send]
#Standard
url=https://myproider.com/send/text
method=POST
#Custom
data[Message][message]=input_2
data[Message][number]=input_1

#The optionaldict
[contacts]
me=0000000000
